<div class="row">

    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <!-- Mostrar u ocultar al pulsar botón (*ngIf) -->
        <div *ngIf="mostrar" class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{ frase.autor }}</h5>
                <p class="card-text">{{ frase.mensaje }}</p>
            </div>
        </div>
        <br>

        <button (click)=" mostrar = !mostrar " class="btn btn-outline-primary" style="width: 100%;">
            Mostrar/Ocultar
        </button>

    </div>

    <div class="col">
        <h1>*ngfor</h1>
        <hr>
        <!-- Mostrar personajes del array -->
        <ul class="list-group">
            <li *ngFor="let personaje of personajes; let i = index" class="list-group-item">
                {{ i + 1 }} - {{ personaje }}
            </li>
        </ul>

    </div>

</div>